@import "vars";
@import "global";
@import "fonts";

//header start

.header {
    background-image: url(../images/bigheader.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 0;
}
.header__logo {
    position: relative;
    width: 67px;
    height: 67px;
    background-color: rgba(255, 255, 255, 0.75);
    margin-top: 8px;
    margin-left: 13px;
    &::after {
        position: absolute;
        content: "";
        width: 67px;
        height: 67px;
        background-image: url(../images/logo.png);
        top: -8px;
        left: -13px;
    }
}
.menu {
    max-width: 700px;
    width: 100%;

    &__list {
        display: flex;
        justify-content: space-between;
        a {
            padding: 0 10px;
            position: relative;
            font-size: 20px;
            line-height: 30px;
            &::after {
                content: "";
                height: 6px;
                width: 100%;
                background-color: transparent;
                position: absolute;
                bottom: -36px;
                left: 0;
                transition: all 0.3s;
            }
            &:hover {
                &::after {
                    background-color: $blue;
                }
            }
        }
    }
}

.header__line {
    height: 1px;
    width: 100%;
    background-color: #7b7b7b;
}
.header__content {
    text-align: center;
    padding: 250px 0 190px;
}
.header__title-box {
    margin-bottom: 70px;
}
.title {
    font-size: 154px;
    line-height: 170px;
    text-transform: uppercase;
}
.title-by {
    color: $blue;
    letter-spacing: 19px;
    font-size: 25px;
    line-height: 30px;
    text-transform: uppercase;
    margin-left: 20px;
}
.header__btn {
    font-size: 13px;
    line-height: 20px;
    position: relative;
    width: 100px;
    transition: all 0.5s;
    &:hover {
        &::before {
            border-color: $blue;
            top: 60px;
            color: $blue;
        }
    }
    &::before {
        content: "\f078";
        font-family: "icomoon";
        position: absolute;
        font-size: 20px;
        top: 50px;
        left: 13px;
        border: 1px solid #fff;
        padding: 25px;
        border-radius: 50%;
        transition: all 0.5s;
    }
}

//header end

//advantages start

.advantages {
    background-color: $blue;
    padding: 160px 0 125px;
    text-align: center;
    position: relative;
    &__title {
        position: absolute;
        z-index: 2;
        font-size: 38px;
        line-height: 50px;
        font-weight: 500;
        text-transform: uppercase;
        position: relative;
        margin-bottom: 145px;
        &::after {
            content: "W";
            position: absolute;
            color: #3c8daf;
            font-size: 247px;
            left: 0;
            right: 0;
            z-index: -1;
        }
    }
}

.advantages__inner{
    display: flex;
    justify-content: space-between;
}

.advantages__item{
    max-width: 265px;
    width: 100%;
    &-img{
        margin: 0 auto;
        margin-bottom: 25px;
        width: 135px;
        height: 135px;
        background-color: #2e85aa;
        justify-content: center;
        border-radius: 50%;
        display: flex;
        align-items: center;
        &::before{
            font-size: 40px;
        }
    }
    &-title{
        text-transform: uppercase;
        font-size: 18px;
        line-height: 25px;
        font-weight: 500;
    }
    &-text{
        font-size: 15px;
        font-weight: 400;
        text-align: justify;
    }
}

//dvantages end
